fastapi
uvicorn
langchain
google-generativeai
python-dotenv
pydantic
faiss-cpu
streamlit
openai
transformers
tqdm
guardrails-ai
selenium 
webdriver-manager
langchain-community
langchain-google-genai
torch
pypdf
